<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>
  <body class="container">
    <h1>Sign-up</h1>
    <div class="mb-3">
    <form class = "mx-auto" action="/sign-up" method="post" enctype="multipart/form-data">
    
    
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" name="email_address"
</div>
<label for="inputPassword5" class="form-label">Password</label>
<input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock">
<div id="passwordHelpBlock" class="form-text">
  Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Username</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" name="Username">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Display name</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" name="Display name">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Biography</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" name="Biography">
</div>
</div>
<div class="mb-3">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Birthday</label>
  <input type="Date" class="form-control" id="exampleFormControlInput1" name="birthday">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Photo</label>
  <input type="file" class="form-control" id="exampleFormControlInput1" name="photo">
</div>
  <input type="submit" class="btn btn-primary">Submit</button>
</form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
</html>

